
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Course Match</h5>
        <p class="mb-2">Find your perfect classes</p>
        <small class="text-muted">© 2025 Course Match. All rights reserved.</small>
      </div>
    </div>
  </div>
