.container{
    height: 100%;  /* Full height */
}

.card{
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
    outline: 1px groove rgb(211, 211, 211);
    background: white;  /* Ensure solid background for shadow visibility */
    width: 60%;
    margin: 0 auto;  /* Center the card */
}

.custom-card-title{
    font-family: 'Varela Round', sans-serif;
    font-weight: 900;       /* Bold */
}

